---
import Section from "../Section.astro"

import { education } from "@cv"
---

<Section title="Education">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area, studyType }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual"
        const years = `${startYear} - ${endYear}`

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                </div>

                <time>{years}</time>
              </header>

              <footer>
                <p class="education-text">{studyType}, {area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #fff;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: var(--text-muted);
    font-size: 0.85rem;
    min-width: 102px;
  }

  .education-text {
    transition: font-size 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .education-text:hover {
    font-size: calc(0.9rem + 0.25px);
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }

    header {
      flex-direction: column;
      gap: 4px;
    }

    time {
      text-align: left;
    }
  }
</style>
